@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#F2D8C2,#f2d8c24d);
}

main{
    background-color: rgb(253, 253, 253);
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #613f38;
}
h1{
    text-align: center;
    color: #A66A5D;
    text-shadow: 1px 1px 2px #a880766b;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color: #A66A5D;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
    text-indent: 40px;
}

img#perfil{
    display: block;
    margin: 0px auto;
   }

a{
    font-weight: bolder;
    color: #A66A5D;
}

a:visited{
    color: #a58983;
}

a:hover{
    color: #613f38;
}

li#instagram{
    list-style-image: url(imagens/instagram.png);
}
li#facebook{
    list-style-image: url(imagens/facebook.png);
}
li#linkedin{
    list-style-image: url(imagens/linkedin.png);
}
li#twitter{
    list-style-image: url(imagens/twitter.png);
}
li#github{
    list-style-image: url(imagens/github.png);
}